You purchased this orders


<label>Search: <input ng-model="searchText"></label>


<table>
	<thead>
		<tr>
			<th>From &nbsp;</th>
			<th>To &nbsp;</th>
			<th>amount &nbsp;</th>
			<th>Price &nbsp;</th>
			<th>Currency &nbsp;</th>
			<th>User Email &nbsp;</th>
			<th>Completed &nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="order in orders | filter : searchText">
			<td>{{order.route.from}} &nbsp;</td>
			<td>{{order.route.to}} &nbsp;</td>
			<td>{{order.amount}} &nbsp;</td>
			<td>{{order.price.amount}} &nbsp;</td>
			<td>{{order.price.currency}} &nbsp;</td>
			<td>{{order.user.email}} &nbsp;</td>
			<td>{{order.isDone}} &nbsp;</td>
		</tr>
	</tbody>
</table>

<button ng-click="showOffers()"
	style="padding-left: 50px; padding-right: 50px">All Offers</button>